.head1 {
  text-align: center;
  padding-top: 4rem;
  color: #fff;
  font-family: arial;
  font-size: 50px;
  font-weight: 400;

}
.bbvcvc
{
  position: absolute;
    right: 0;
    height: 3rem;
    width: 3rem;
}
.togglerow
{
  padding-left: 3%;
  padding-right: 3%;
}

.popoajadnj
{
  display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
}
.sasvebuuton
{
  position: absolute;
    left: auto;
    bottom: 0;
    right: 0;
    width: 7rem;
    height: 3rem;
    border: 1px solid black;
}
.editsection1 {
  position: absolute;
  background: black;
  width: 70%;
  height: 100%;
  top: 0;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editsection {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.react-draggable {
  position: absolute;
  z-index: 99999999999999999;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.leftsidesection
{
  display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 5rem);
    padding-left: 0;
}
.head1
{
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0; */
  padding-left: 0;
}
.editorbacktext
{
  font-weight: bold;
  background: white;
  color: black;
  width: 6rem;
  text-align: center;
  height: 2rem;
  padding-top: 5px;
  cursor: pointer;
}
.asgfgsgfgcxv
{
  display: inline-block;
  width: 435px;
 
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 75px;
  line-height: 91px;
  display: flex;
  align-items: center;
  color: #186AB4;
}
.editopoistionpicker
{
  position: absolute;
  top: 0;
  right: -6rem;
}
.richtextbox
{
  background: white;
  height: 3rem;
  width: 21rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px 0 14px;
  position: relative;
}
.bnnnhhj
{
  color: #186AB4; 
}
.nmjk
{
  color: white;
}
.asdaswekwrw
{
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 75px;
line-height: 91px;
display: flex;
align-items: center;

color: #186AB4;
}
.player_video
{
  width:70% !important;
  height:70% !important;
}
.readytoplay
{
  background-color: #fff ;
  color: #09355d ;
  font-weight: 700 ;
  height: 3rem;
}
:focus
{
  border: none !important;
  outline-style: none !important;
}
.player_video
{
  margin: auto;
}
.head2 {
  text-align: center;
  color: #fff;
  font-family: arial;
  font-size: 70px;
  font-weight: 700;
  padding-bottom: 2rem;
 
}
.homesecfp
{
  height: 100vh;
  display: flex;
    justify-content: center;
    align-items: center;
}
.headtext {
  text-align: center;
  color: #fff;
  font-family: arial;
  font-size: 70px;
  font-weight: 700;


}
.btn-clas
{
  height: 5rem;
  background: white;
  color: #09355d;
  font-weight: 700;
  width: 11rem;
}
.btn-clas:hover{
  background-color: #09355d !important;
  color: white;
}
.para {
  text-align: center;
  font-family: arial;
  font-size: 2vh;
  font-weight: 400;
margin: 0;
  color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.react-draggable 
{
position: absolute;
z-index: 99999999999999999;
}
.avdancesettinsetion
{
  height: 3rem;
    background: white;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    border-top: 1px solid #80808038;
    top: 48px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cursorpinterback
{
  position: absolute;
  cursor: pointer;
}
.if
{
  width:640px;
   height:360px; 
}

.dvancestting
{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #80808078;
  padding-bottom: 7px;
  margin-bottom: 1rem;
}

body
{
  
  background-size: cover;
  background-color:black; 

  
}
.navbardraaging
{
  background-color: white;
  padding: 1rem
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: -9px;
  opacity: 0;
  display: flex;
  justify-content: center;
  margin: auto;
  right: 0;
  height: 2rem;
  width: 13rem;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  margin-bottom: 1rem;
}
.btn-vsa {
  color: #182542!important;
  border: none;
  font-size: 18px;
  background: #fff;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 16px;
  align-items: center;
  text-align: center;
  margin: auto;
  font-weight: 700;
}
.editsection
{
  position: absolute;
    background: black;
    width: 100%;
    height: 5rem;
    top: 0;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center
}
.navbarshowing
{
  background: white;
  height: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  border-bottom: 1px solid #186ab433;
}
.showthetoggleactivandinactive
{
  display: flex;
    color: white;
    width: 18rem;
    position: absolute;
    background: #186AB4;
    height: 2rem;
    align-items: center;
    justify-content: space-evenly;
}
.settingcussor
{
  padding: 10px;
  cursor: pointer;
}
.bodercustomnextbuttton
{
  display: flex;
  width: 100% !important;
}
.bckseptshow
{
  margin-bottom: 0;
    font-size: 7px;
    font-weight: 900;
}
.showsolid
{
  font-weight: bold;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}
.dropdown-menu {

height:7rem !important;
border-radius: 0 !important;
min-width: 2rem !important;
width: 5rem !important;
overflow-y: scroll !important;
}
.divpaddingsectioncustim {
  width: 100% !important;
}
.divpaddingsection
{
  width: 25%;
}
.labeltexting
{
  font-size: 12px;
}
.divpaddingsection input
{
  width: 100%;
  height: 26px;
    text-align: center;
    border: 1px solid black;
}
.advancesetting
{
  display: flex;
    width: 15rem;
    text-align: center;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 11px;
}
.divpaddingsection input:focus{
  width: 100%;
  height: 26px !important;
  text-align: center;
}
.fontsizedrop .btn-primary {
  color: black !important;
  background-color: white !important;
  border-color: black !important;
  height: 23px !important;
  padding: 0 !important;
  width: 4rem !important;
  border-radius: 0 !important;
  /* padding-bottom: 3px; */
  /* padding: 0 !important; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.fontsizedrop .btn-primary:focus {
  color: black !important;
  background-color: white !important;
  border-color: black !important;
  height: 23px !important;
  padding: 0 !important;
  width: 4rem !important;
  border-radius: 0 !important;
  /* padding-bottom: 3px; */
  /* padding: 0 !important; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 0.1px black !important
}
.fontsizedrop .btn-primary:active {
  color:black !important;
  background-color: white !important;
  border-color: black !important;
}

.alignmentheadericon
{
  font-size: 2rem;
  margin-right: 20px;
  cursor: pointer;
}
.adavncesetiontitle
{
  font-size: 15px;
  font-weight: bold;

}
.labeltextalignmentdiv
{
  display: flex;
    width: 15rem;
    text-align: center;
    justify-content: space-between;
    margin: auto;
}
.advancedsetting
{
  
  background: white;
  padding: 14px;


}
.labelpx
{
  margin-bottom: 0;
  font-size: 14px;
  color: grey;
  font-weight: bold;
}
.subsechome
{
  text-align: center;
}
.modal-header
{
  background-color: #09355d !important;
 color: #fff !important;
}
.modal-header .close {
  color: #fff !important;
}

.close:hover {
  color: #fff !important;
  text-decoration: none;
}
.popupbutton
{
  background-color: #fff !important;
    color: #09355d !important;
    font-weight: 700 !important;
    height: 4rem;
}
.next
{
  background-color: #09355d  !important;
    color: white !important;
  
}
.homesecfb
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}
.homesec
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;

}
.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  margin: 0;

  transform: translate(-50%, -50%) !important;
}
@media only screen and (min-width:0) and (max-width:650px)
{
  .player_video
  {
    width: 94% !important;
   height: 94% !important; 
  }
  .if
  {
    width:100%;
    height: auto;
  }
  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width:98%;
    margin: 0;
  
    transform: translate(-50%, -50%) !important;
  }
}
@media only screen and (min-width:0) and (max-width:990px)
{

.head1 {
  font-size: 24px;
  padding-top: 0;
 line-height: auto;;
}
.headtext {
  font-size: 24px;

 line-height: auto;;


}
.homesecfb {
 
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.btn-clas {
  height: 4rem;
  margin-bottom: 25px;
width: 100%;
}
.homesec {
  height: 100vh;
  padding-bottom: 0rem;
}
.head2 {
 
    font-size: 24px;
    padding-bottom: 1rem;
    line-height: auto;
}
.para {
  text-align: center;
  font-family: arial;
  font-size: 16px;
}
.popupbutton {
  height: 3rem;
  font-size: 14px;
}
}


@media only screen and (min-width:1550px) and (max-width:5000px)
{
 
  .homesecfb
  {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-bottom: 0rem;
  }

  .homesec {
    height: 100vh;
    padding-bottom: 0rem;
  }
  .head1 {

    padding-top: 0;
   line-height: auto;;
  }
}